<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Pizza Hub</title>
    <link rel="stylesheet" href="pizza.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="controller.js"></script>
</head>
<body ng-app="buttons">
<h1>Pizza Hub</h1>

<div id="buttons" ng-controller="buttonCtrl">

    <div class="register" style="display: none">
        <h3>Register New Pizza Abuser</h3>
        <form name="addform" class="form" ng-submit="register()">
            <div class="form-group">
                <label>Pizza Name</label>
                <input type="text" class="form-control" ng-model="newname" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" ng-model="newpassword" required />
            </div>
            <div class="form-group">
                <label>Re-enter Password</label>
                <input type="text" class="form-control" ng-model="newpassword1" required />
            </div>
            <div class="form-group">
                <label>E-Mail</label>
                <input type="text" class="form-control" ng-model="newmail" required />
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" ng-model="newaddress" required />
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" ng-model="newphone" required />
            </div>
            <div class="form-group">
                <label>Credit Card Number</label>
                <input type="text" class="form-control" ng-model="newcard" required />
            </div>
            <div >
                <button > Register </button>
            </div>


        </form>

    </div>

    <div class="loggedout" style=" display: none; width:30%">
        <h3>Log In: Enter Username and Password</h3>
        <form name="addform" class="form" ng-submit="login()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="username" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" ng-model="password" required />
            </div>
            <div >
                <button ><span ></span> Log In </button>
            </div>
        </form>

        <div style="padding-top: 20px"><button ng-click="gotoregister()">Register</button></div>
    </div>


    <div class="loggedin" style="display: inline">
        <button ng-click = "logout()" style="position: absolute; right:0px">Log Out</button>

        <div class="main" style="width: 75%; float: left">

            <ul class = "nav nav-tabs">
                <li class = "active"><a data-toggle="tab" href="#pizza">Pizza</a> </li>
                <li><a data-toggle="tab" href="#sides">Sides</a> </li>
                <li><a data-toggle="tab" href="#drinks">Drinks</a></li>
            </ul>
            <div class="tab-content" >
                <div id="pizza" class="tab-pane fade in active">
                    <h3>Pizza Builder</h3>
                    <div style="padding-left:50px">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#sizes">Sizes&Crusts</a></li>
                            <li><a data-toggle="pill" href="#sauces">Sauces&Cheese</a></li>
                            <li><a data-toggle="pill" href="#toppings">Toppings</a></li>
                        </ul>

                        <h3>Current Pizza Selection</h3>
                        <div class="Pizza">
                            <!--CRUST-->
                            <label><img class="hehe" src="http://www.pizzahut.com/assets/w/evo_pb/crust/crust_thin_NoFinish.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "crusttype == 'pan crust' || crusttype == 'hand tossed'"><img class="crust" src="http://www.pizzahut.com/assets/w/evo_pb/crust/crust_pan_NoFinish.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "crusttype == 'thick crust' || crusttype == 'deep dish crust' " ><img class="crust" src="https://www.pizzahut.com/assets/w/evo_pb/crust/crust_handtossed_smokehouseBBQ.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "crusttype == 'thin crust' || crusttype == 'gluten free crust'" ><img class="crust" src="http://www.pizzahut.com/assets/w/evo_pb/crust/crust_thin_NoFinish.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currentsauce == 'Tomato sauce' || currentsauce == 'Marinara sauce' " ><img class="sauce" src="https://www.pizzahut.com/assets/w/evo_pb/topping/sauce_Marinara_ML.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currentsauce == 'Parmesan sauce' || currentsauce == 'Alfredo sauce' " ><img class="sauce" src="https://www.pizzahut.com/assets/w/evo_pb/topping/sauce_CreamyGarlicParm_ML.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currentsauce == 'BBQ sauce' " ><img class="sauce" src="https://www.pizzahut.com/assets/w/evo_pb/topping/sauce_BBQ_ML.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currentsauce == 'siracha sauce' || currentsauce == 'buffalo sauce' " ><img class="sauce" src="https://www.pizzahut.com/assets/w/evo_pb/topping/sauce_HoneySriracha_ML.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currentcheese == 'Mozzarella Cheese' || currentcheese == 'Cheddar Cheese'|| currentcheese == 'Provolone Cheese' " ><img class="cheese" src="https://www.pizzahut.com/assets/w/evo_pb/topping/cheese_mozz_ML.png" alt="hehe" height="300" width="300"></label>

                            <!--MEAT-->
                            <label ng-show = "currenttoppingNic.indexOf('pepperoni') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Pepperoni_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('sausage') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_ItalianSausage_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('salami') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Salami_ML_regular.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('ham') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Ham_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('beef') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Beef_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('pork') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Pork_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('bacon') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Bacon_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('chicken') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Chicken_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('meatball') > -1 " ><img class="meat" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Meatball_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <!--<label ng-show = "crustarray[2] = true"><img id="thick" src="http://www.pizzahut.com/assets/w/evo_pb/crust/crust_pan_NoFinish.png" alt="hehe" height="300" width="300"></label>-->

                            <!--VEG-->
                            <label ng-show = "currenttoppingNic.indexOf('spinach') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Spinach_Fresh_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('bananna pepper') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_BananaPepper_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('mushroom') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Mushroom_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('red pepper') > -1 || currenttoppingNic.indexOf('cherry peppers') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_CherryPepper_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('onion') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Onion_red_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('black olives') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Olives_black_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('green pepper') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_GreenBellPepper_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('pineapple') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Pineapple_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('jalapeno peppers') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Jalepeno_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('tomato') > -1 " ><img class="veg" src="https://www.pizzahut.com/assets/w/evo_pb/topping/topping_Tomato_ML_reg.png" alt="hehe" height="300" width="300"></label>
                            <label ng-show = "currenttoppingNic.indexOf('hot sauce') > -1 " ><img class="veg" src="http://www.pizzahut.com/assets/w/evo_pb/topping/drizzle_HoneySriracha_ML.png" alt="hehe" height="300" width="300"></label>

                        </div>
                        <br>


                        <!--<label>{{sizecrust}}</label>  <label>Crust Prices: Dominos=${{selection[0].Dominos}} PizzaHut=${{selection[0].PizzaHut}} PapaJohns=${{selection[0].PapaJohns}}  Caseys=${{selection[0].Caseys}}  HungryHowies=${{selection[0].HungryHowies}}  PizzaRanch=${{selection[0].PizzaRanch}} </label>-->
                        <label ng-hide = "selection[0].Dominos == null">Dominos=${{selection[0].Dominos}} </label>
                        <label ng-hide = "selection[0].PizzaHut == null">PizzaHut=${{selection[0].PizzaHut}} </label>
                        <label ng-hide = "selection[0].PapaJohns == null">PapaJohns=${{selection[0].PapaJohns}} </label>
                        <label ng-hide = "selection[0].Caseys == null">Casey's=${{selection[0].Caseys}} </label>
                        <label ng-hide = "selection[0].HungryHowies == null">HungryHowie's=${{selection[0].HungryHowies}} </label>
                        <label ng-hide = "selection[0].PizzaRanch == null">PizzaRanch=${{selection[0].PizzaRanch}} </label>
                        <div>

                        </div>
                        <br>
                        <label style="padding-left: 10px">{{currentcheese}}</label>
                        <br>
                        <label style="padding-left: 10px">{{currentsauce}}</label>
                        <br>
                        <h5><b>Toppings: </b></h5>
                        <div ng-repeat="topping in currenttopping">

                            <!--<label style="padding-left: 10px">{{topping.name}} prices:  Dominos=${{selection[topping.id].Dominos}} PizzaHut=${{selection[topping.id].PizzaHut}} PapaJohns=${{selection[topping.id].PapaJohns}} Caseys=${{selection[topping.id].Caseys}} HungrieHowies=${{selection[topping.id].HungryHowies}} PizzaRanch=${{selection[topping.id].PizzaRanch}}</label>-->
                            <label style="padding-left: 10px">{{topping.name}}</label>
                            <label ng-hide = "selection[topping.id].Dominos == null">Dominos: ${{selection[topping.id].Dominos}} </label>
                            <label ng-hide = "selection[topping.id].PizzaHut == null">PizzaHut: ${{selection[topping.id].PizzaHut}} </label>
                            <label ng-hide = "selection[topping.id].PapaJohns == null">PapaJohns: ${{selection[topping.id].PapaJohns}} </label>
                            <label ng-hide = "selection[topping.id].Caseys == null">Casey's: ${{selection[topping.id].Caseys}} </label>
                            <label ng-hide = "selection[topping.id].HungryHowies == null">HungryHowie's: ${{selection[topping.id].HungryHowies}} </label>
                            <label ng-hide = "selection[topping.id].PizzaRanch == null">PizzaRanch: ${{selection[topping.id].PizzaRanch}} </label>
                        </div>


                        <br>
                        <br>
                        <label>TOTAL:</label>
                        <!--<label>Total Pizza Cost: Dominos=${{currentPizzaPrices[0]}} PizzaHut=${{currentPizzaPrices[1]}} PapaJohns=${{currentPizzaPrices[2]}} Caseys=${{currentPizzaPrices[3]}} HungryHowies=${{currentPizzaPrices[4]}} PizzaRanch=${{currentPizzaPrices[5]}}</label>-->
                        <label ng-hide = "currentPizzaPrices[0] == 'N/A'">Dominos=${{currentPizzaPrices[0].toFixed(2)}} </label>
                        <label ng-hide = "currentPizzaPrices[1] == 'N/A'">PizzaHut=${{currentPizzaPrices[1].toFixed(2)}} </label>
                        <label ng-hide = "currentPizzaPrices[2] == 'N/A'">PapaJohns=${{currentPizzaPrices[2].toFixed(2)}} </label>
                        <label ng-hide = "currentPizzaPrices[3] == 'N/A'">Casey's=${{currentPizzaPrices[3].toFixed(2)}} </label>
                        <label ng-hide = "currentPizzaPrices[4] == 'N/A'">HungryHowie's=${{currentPizzaPrices[4].toFixed(2)}} </label>
                        <label ng-hide = "currentPizzaPrices[5] == 'N/A'">PizzaRanch=${{currentPizzaPrices[5].toFixed(2)}} </label>
                        <br>
                        <button style="left:100px" ng-click="addCrustToCart()" >Add To Cart</button>

                        <div class="tab-content">
                            <div id="sizes" class="tab-pane fade in active">
                                <h3>Select your Size and Crust</h3>


                                <div  ng-repeat = "crust in crustArray" >
                                    <div style="float: left; padding-left: 20px" >
                                        <h3>{{crust.property}}</h3>
                                        <div class="radio" >
                                            <label><input ng-click="crustSelect(crust.property)" type="radio"  ng-model="$parent.sizecrust" value="10in {{crust.property}}" name="size" required="">10 inch</label>
                                        </div>
                                        <div class="radio" >
                                            <label><input ng-click="crustSelect(crust.property)" type="radio" ng-model="$parent.sizecrust"  value="12in {{crust.property}}" name="size">12 inch</label>
                                        </div>
                                        <div class="radio" >
                                            <label><input ng-click="crustSelect(crust.property)" type="radio" ng-model="$parent.sizecrust"  value="14in {{crust.property}}" name="size">14 inch</label>
                                        </div>
                                        <div class="radio" >
                                            <label><input ng-click="crustSelect(crust.property)" type="radio" ng-model="$parent.sizecrust"  value="16in {{crust.property}}"  name="size">16 inch</label>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div id="sauces" class="tab-pane fade">
                                <h3>Select your Sauce and Cheese</h3>
                                <div style="float: left">

                                    <h4>Choose your Sauce</h4>

                                    <div ng-repeat = "sauce in sauceArray">
                                        <div class="radio" >
                                            <label><input ng-click="sauceSelect(sauce.saucename)" type="radio" name="sauce">{{sauce.saucename}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="float: left; padding-left: 50px">
                                    <h4>Choose your Main Cheese</h4>
                                    <div class="radio" ng-click="cheeseSelect('Mozzarella Cheese')">
                                        <label><input type="radio"  name="cheese">Mozzarella</label>
                                    </div>
                                    <div class="radio" ng-click="cheeseSelect('Cheddar Cheese')">
                                        <label><input type="radio"  name="cheese">Cheddar</label>
                                    </div>
                                    <div class="radio" ng-click="cheeseSelect('Provolone Cheese')">
                                        <label><input type="radio" name="cheese">Provolone</label>
                                    </div>
                                    <div class="radio" ng-click="cheeseSelect('I FUCKING HATE CHEESE WHY WOULD I HAVE THAT ON MY PIZZA')">
                                        <label><input type="radio" name="cheese">None</label>
                                    </div>
                                </div>
                            </div>
                            <div id="toppings" class="tab-pane fade">
                                <h3>Select your toppings</h3>
                                <div style="float: left; padding-left: 20px">
                                    <h3>Meaty toppings ;)</h3>
                                    <div ng-repeat="meat in meatArray">
                                        <div class="checkbox" >
                                            <label><input type="checkbox" ng-model="meat.selected" ng-click="toppingSelect();" name="{{meat.property}}">{{meat.property}}</label>
                                        </div>
                                    </div>

                                </div>
                                <div style="float: left; padding-left: 20px">
                                    <h3>Non Meaty toppings</h3>
                                    <div ng-repeat="nonmeat in nonmeatArray">
                                        <div class="checkbox" >
                                            <label><input type="checkbox" ng-model="nonmeat.selected" ng-click="toppingSelect();" name="{{nonmeat.property}}">{{nonmeat.property}}</label>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div id="sides" class="tab-pane fade">
                    <h3>Sides</h3>
                    <div ng-repeat = "side in sidesArray" style="display: inline; padding-left: 25px; padding-top: 10px">
                        <button ng-click="addToCart(side.property, 'side',0, true)" class = "btn btn-default" >{{side.property}}</button>
                    </div>
                </div>
                <div id="drinks" class="tab-pane fade">
                    <h3>Drinks</h3>
                    <div ng-repeat = "drank in drinksArray" style="display: inline; padding-left: 25px; padding-top: 10px">
                        <button ng-click="addToCart(drank.property, 'drank',0, true)" class = "btn btn-default" style="">{{drank.property}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div  style = " width: 25%; float: left" class = "pizzacart">
            <h3>Shopping Cart</h3>
            <!--<table class ="table" style="">-->
            <!--<tr>-->
            <!--<th>Item</th>-->
            <!--<th>Quantity</th>-->
            <!--</tr>-->

            <!--</table>-->
            <!--<h3>{{getPrice('Mountain Dew')}}</h3>-->
            <div ng-repeat="pizza in pizzasInCart" >
                <button  ng-click="deleteItem('penis', pizza.pizzaID)" class = "glyphicon glyphicon-remove" style="background-color: red"></button> <label>{{pizza.size}} {{pizza.crust}}</label>
                <label>{{pizza.sauce}}</label>
                <label>{{pizza.cheese}}</label>
                <div ng-repeat="topping in pizza.toppings" >
                    <label>{{topping}}</label>
                </div>
                <label ng-hide = "pizza.prices[0] == 0 || pizza.prices[0] == 'N/A'">Dominos= ${{pizza.prices[0].toFixed(2)}}</label>
                <label ng-hide = "pizza.prices[1] == 0 || pizza.prices[1] == 'N/A'">PizzaHut= ${{pizza.prices[1].toFixed(2)}}</label>
                <label ng-hide = "pizza.prices[2] == 0 || pizza.prices[2] == 'N/A'">PapaJohns= ${{pizza.prices[2].toFixed(2)}}</label>
                <label ng-hide = "pizza.prices[3] == 0 || pizza.prices[3] == 'N/A'">Caseys= ${{pizza.prices[3].toFixed(2)}}</label>
                <label ng-hide = "pizza.prices[4] == 0 || pizza.prices[4] == 'N/A'">HungryHowie's= ${{pizza.prices[4].toFixed(2)}}</label>
                <label ng-hide = "pizza.prices[5] == 0 || pizza.prices[5] == 'N/A'">PizzaRanch= ${{pizza.prices[5].toFixed(2)}}</label>
            </div>


            <div ng-repeat="drink in drinksItemsInCart">

                <table  class ="table" style="">

                    <tr >
                        <label> <button ng-click="deleteItem(drink.itemname, 0)" class = "glyphicon glyphicon-remove" style="background-color: red"> </button>  {{drink.quantity}} {{drink.itemname}}s</label>
                        <br>

                    </tr>
                    <tr>
                        <!--<td>-->
                        <!--<td>Dominos = ${{drink.Dominos}} ${{drink.PizzaHut}} ${{drink.PapaJohn}} ${{drink.Caseys}} ${{drink.HungryHowie}} ${{drink.PizzaRanch}}</td>-->
                        <label style="font-weight: normal" ng-hide = "drink.Dominos == null">Dominos= ${{drink.Dominos}}</label>
                        <label style="font-weight: normal" ng-hide = "drink.PizzaHut == null">PizzaHut= ${{drink.PizzaHut}}</label>
                        <label style="font-weight: normal" ng-hide = "drink.PapaJohns == null">PapaJohns= ${{drink.PapaJohns}}</label>
                        <label style="font-weight: normal" ng-hide = "drink.Caseys == null">Caseys= ${{drink.Caseys}}</label>
                        <label style="font-weight: normal"  ng-hide = "drink.HungryHowie == null">HungryHowie's= ${{drink.HungryHowie}}</label>
                        <label style="font-weight: normal" ng-hide = "drink.PizzaRanch == null">PizzaRanch= ${{drink.PizzaRanch}}</label>
                        <!--</td>-->

                    </tr>

                </table>

            </div>
            <div ng-repeat="side in sidesItemsInCart">


                <table  class ="table" style="">

                    <tr >
                        <td><button ng-click="deleteItem(side.itemname, 0)" class = "glyphicon glyphicon-remove" style="background-color: red"></button> {{side.quantity}} {{side.itemname}}s</td>

                    </tr>
                    <tr>
                        <!--<td>${{side.Dominos}} ${{side.PizzaHut}} ${{side.PapaJohn}} ${{side.Caseys}} ${{side.HungryHowie}} ${{side.PizzaRanch}}</td>-->
                        <label ng-hide = "side.Dominos == null">Dominos= ${{side.Dominos}}</label>
                        <label ng-hide = "side.PizzaHut == null">PizzaHut= ${{side.PizzaHut}}</label>
                        <label ng-hide = "side.PapaJohns == null">PapaJohns= ${{side.PapaJohns}}</label>
                        <label ng-hide = "side.Caseys == null">Caseys= ${{side.Caseys}}</label>
                        <label ng-hide = "side.HungryHowie == null">HungryHowie= ${{side.HungryHowie}}</label>
                        <label ng-hide = "side.PizzaRanch == null">PizzaRanch= ${{side.PizzaRanch}}</label>
                    </tr>
                </table>
            </div>
            <h1>Total</h1>
            <button ng-click="checkOut()" ng-hide = "totalPrices[0].indexOf('N/A') > -1 "><img src="http://blogs-images.forbes.com/stevedenning/files/2011/03/256px-Dominos_pizza_logo.svg_.png" alt="Dominos" height="60" width="60"> ${{totalPrices[0].toFixed(2)}}</button>
            <button ng-click="checkOut()" ng-hide = "totalPrices[1].indexOf('N/A') > -1 "><img src="https://static-s.aa-cdn.net/img/ios/881318556/0a98043e59bf8e74486ddfcf014cb328?v=1" alt="PizzaHut" height="60" width="60"> ${{totalPrices[1].toFixed(2)}}</button>
            <button ng-click="checkOut()" ng-hide = "totalPrices[2].indexOf('N/A') > -1 "><img src="http://file.answcdn.com/answ-cld/image/upload/v1/tk/brand_image/2957f6a1/2d12d3fa2ffffd5ce43b72fb89f441b2c25ae451.png" alt="PapaJohns" height="60" width="60">  ${{totalPrices[2].toFixed(2)}}</button>
            <button ng-click="checkOut()" ng-hide = "totalPrices[3].indexOf('N/A') > -1 "><img src="http://wac.450f.edgecastcdn.net/80450F/khak.com/files/2014/11/caseys.jpg" alt="Casey's" height="60" width="60">  ${{totalPrices[3].toFixed(2)}}</button>
            <button ng-click="checkOut()" ng-hide = "totalPrices[4].indexOf('N/A') > -1 "><img src="http://www.visitsouthwalton.com/sites/default/master/files/profiles/photos/profile_logo/Howie_Logo_20100.png" alt="HungryHowie's" height="60" width="60">  ${{totalPrices[4].toFixed(2)}}</button>
            <button ng-click="checkOut()" ng-hide = "totalPrices[5].indexOf('N/A') > -1 "><img src="https://www.rabezauction.com/images/Pizza-Ranch-Lg1.jpg" alt="PizzaRanch" height="60" width="60">  ${{totalPrices[5].toFixed(2)}}</button>


        </div>

    </div>
</div>
</div>
</body>
</html>
