<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Pizza Hub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="pizza.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-app="buttons">
<h1>Pizza Hub</h1>
<div id="buttons" ng-controller="buttonCtrl">
    <div style="position:relative;left:10px;top:10px" class = "pSize">
        <h1>Select Pizza Size</h1>
        <div >
            <button class = "pizzaSizeButton"  id="xsmall" ng-click="???" >Personal</button>
            <button class = "pizzaSizeButton"  id="small" ng-click="???" >Small</button>
            <button class = "pizzaSizeButton"  id="medium" ng-click="???" >Medium</button>
            <button class = "pizzaSizeButton"  id="large" ng-click="???" >Large</button>
            <button class = "pizzaSizeButton"  id="xlarge" ng-click="???" >Extra Large</button>
        </div>
    </div>
</div>
</body>
</html>